body{
margin:0;
font-family:'Open Sans',sans-serif;
color:#333;
line-height:1.6;
}

/* HERO */

.hero{
height:100vh;
background-image:url("automation.jpg");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
position:relative;
}

.hero::after{
content:"";
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
}

.hero-content{
position:relative;
color:white;
text-align:center;
width:60%;
}

.hero h1{
font-family:'Poppins',sans-serif;
font-size:50px;
}

.btn{
background:#2EC4B6;
padding:15px 30px;
display:inline-block;
margin-top:20px;
color:white;
text-decoration:none;
border-radius:5px;
transition:.3s;
}

.btn:hover{
background:#1F3A5F;
}

/* PROBLEM */

.problem{
display:grid;
grid-template-columns:1.1fr 0.9fr;
align-items:center;
gap:50px;
padding:100px 10%;
}

.problem-img{
width:100%;
max-height:420px;
object-fit:cover;
border-radius:14px;
box-shadow:0 20px 40px rgba(0,0,0,0.15);
}
.problem-text{
max-width:600px;
}
.problem{
background:#fafafa;
border-top:1px solid #eee;
border-bottom:1px solid #eee;
}


/* SERVICES */

.services{
background:#f4f4f4;
padding:80px;
text-align:center;
}

.service-grid{
display:flex;
gap:30px;
justify-content:center;
}

.card{
background:white;
padding:25px;
width:280px;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.card img{
width:100%;
border-radius:10px;
}

/* VALUE */

.value{
padding:80px;
text-align:center;
width:60%;
margin:auto;
}

/* PROCESS */

.process{
background:#2EC4B6;
color:white;
padding:80px;
text-align:center;
}

.steps{
display:flex;
justify-content:center;
gap:40px;
font-size:20px;
}

/* CTA */

.cta{
padding:80px;
text-align:center;
}

/* FOOTER */

footer{
background:#1F3A5F;
color:white;
text-align:center;
padding:25px;
}
.contact{
padding:80px;
text-align:center;
background:#f4f4f4;
}

.contact-box{
margin-top:30px;
}

.contact button{
padding:15px 25px;
margin:10px;
border:none;
background:#2EC4B6;
color:white;
font-size:16px;
cursor:pointer;
border-radius:6px;
transition:.3s;
}

.contact button:hover{
background:#1F3A5F;
}
